{
  "rules": {
    "padded-blocks": 0,
    "curly": 0,
    "quotes": 0,
    "comma-dangle": 0,
    "spaced-comment": 0,
    "dot-location": 0,
    "no-tabs": 0,
    "indent": 0,
    "semi": 0,
    "space-before-function-paren": 0,
    "no-multiple-empty-lines": 0,
    "no-mixed-spaces-and-tabs": 0,
    "new-cap": 0,
    "no-multi-spaces": 0,
    "operator-linebreak": 0,
    "keyword-spacing": 0,
    "eqeqeq": 0
  }
}
