.webkitStyledScrollbar ::-webkit-scrollbar-track {
  background-color: rgba(100, 100, 100, 0.5);
  border-left: 1px solid #044444;
  border-right: 1px solid #044444;
  border-radius: 6px;
}
.webkitStyledScrollbar ::-webkit-scrollbar-corner {
  background: transparant;
  height: 6px;
  width: 6px;
}
.webkitStyledScrollbar ::-webkit-scrollbar-button {
  height: 8px;
  width: 8px;
}
.webkitStyledScrollbar ::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.webkitStyledScrollbar ::-webkit-scrollbar-thumb {
  background-color: #ccc;
  height: 30px;
  border-radius: 4px;
}
.webkitStyledScrollbar ::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
  border-radius: 4px;
}
